@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div><h1>Fregene and Nzube</h1></div>
    <div>Hahahahahahahhahhahahahhahhahahahahahahahahahaahahahhhaahahhahahahahaahhahaahhahahhahha</div>
</body>
</html>